<template>
    <div>
      <input v-model="searchTerm" @input="search" placeholder="Search for a state" />
      <ul v-if="states.length">
        <li v-for="state in states" :key="state.name">{{ state.name }}</li>
      </ul>
    </div>
  </template>
  
  <script>
  import Vue from 'vue';
  import { gql } from 'apollo-boost';
  import VueApollo from 'vue-apollo';  // Add this import
  
  const SEARCH_STATES = gql`
    query searchStates($term: String!) {
      searchStates(term: $term) {
        name
      }
    }
  `;
  
  export default {
    data() {
      return {
        searchTerm: '',
        states: [],
      };
    },
    apollo: {
      // Apollo configuration goes here
    },
    methods: {
      async search() {
        try {
          const response = await this.$apollo.query({
            query: SEARCH_STATES,
            variables: { term: this.searchTerm },
          });
          this.states = response.data.searchStates;
        } catch (error) {
          console.error('Error searching states:', error);
        }
      },
    },
  };
  
  // Install the vue plugin
  Vue.use(VueApollo);  // Add this line
  </script>
  
  <style scoped>
  /* Your styles here */
  </style>
  
  <style>
  .autocomplete {
    position: relative;
  }
  
  .autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
  }
  
  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }
  
  .autocomplete-result.is-active,
  .autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
  }
  
  .google-map {
    height: 500px;
    width: 700px;
    margin-top: 20px;
  }
  </style>
  