<template>
  <div id="app">
    <SearchAutocomplete />
  </div>
</template>

<script>
import SearchAutocomplete from './components/SearchAutocomplete.vue';

export default {
  components: {
    SearchAutocomplete,
  },
};
</script>
